* {margin: 0; padding: 0;font-family: "Inter", sans-serif;}
a {text-decoration: none;}

body {
	background-color: #F9F5F5;
}

nav {
	height: 45px;
	background-color: #E4C1B1;
	width: 100%;
	display: block;
}

nav .info {
	height: 100%;
	padding: 0 50px;
}

nav .info .info_detail {
	width: 100%;
	display: flex;
	padding: 14px 0;
}

nav .info .info_detail .logo {
	width: 54%;
}

nav .info .info_detail .logo .logo_detail {
	margin-right: 25px;
	color: white;
}

nav .info .info_detail .phonenumber {
	width: 8%;
	padding: auto;
}

nav .info .info_detail .phonenumber .number{
	margin-left: 10px;
	color: black;
	font-size: 13px;
}

nav .info .info_detail .email {
	width: 14%;
}

nav .info .info_detail .email .email_detail{
	color: black;
	margin-left: 5px;
	font-size: 13px;
}


nav .info .info_detail .address {
	width: 11%;
}

nav .info .info_detail .address .address_detail{
	margin-left: 5px;
	font-size: 13px;
}


nav .info .info_detail .time {
	width: 10%;
}

nav .info .info_detail .time .time_detail{	
	margin-left: 5px;
	font-size: 13px;
}

nav .info .info_detail .language {
	width: 6%;
	margin-left: 5px;
	font-size: 13px;
}

/*menu*/

.header {
	display: flex;
	position: relative;
	height: 90px;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

.header .trademark {
	width: 20%;
	padding-top: 30px;
	padding-bottom: 30px;
}

.trademark a {
	letter-spacing: 10px;
	font-size: 25px;
	color: black;
}

.menu {
	width: 60%;
}

.menu .menu_row {
	display: flex;
	justify-content: center;
}

.menu .menu_row li {
	list-style: none;
	padding: 36px 20px;
	display: block;
}

.menu_row li .item {

}

.menu_row li .item a {
	color: black;
}

.menu_row li .item .drop_down {
	position: absolute;
	width: 60%;
	height: 240px;
	left: 20%;
	margin-top: 10px;
	background-color: #F7F5F5;
	display: flex;
	visibility: hidden;
	justify-content: center;
}

.menu .menu_row li:hover .item .drop_down{
	visibility: visible;
}

.drop_down .content_item {
	padding: 40px 25px;
	text-align: center;
}

.drop_down .content_item img {
	width: 120px;
	height: 120px;
	box-shadow: 10px 10px 5px lightblue;
}

.drop_down .content_item .text_drop_down {
	padding-top: 25px;
}

.header .button_link {
	width: 20%;
	padding-top: 34px;
	padding-bottom: 34px;
	text-align: right;
}

.button_link .icon {
	padding-left: 25px;
	font-size: 17px;
	color: black;
}

/*banner*/

.banner {
	display: flex;
	height: 480px;
	width: 100%;
}

.banner .banner_detail {
	width: 50%;
}

.banner_detail img {
	width: 100%;
	height: 100%;
}

.banner_detail .text_banner1 {
	width: 45%;
	top: 38%;
	left: 5%;
	position: absolute;
}


.banner_detail .text1{
	font-size: 20px;
	letter-spacing: 20px;
	margin-bottom: 20px;
	font-family: "Marcellus";
}

.banner_detail .text2{
	font-family: seui light;
	font-size: 35px;
	letter-spacing: 20px;
}


.banner_detail .text_banner2 {
	width: 45%;
	top: 38%;
	left: 55%;
	position: absolute;
}

/*product intro*/

.container_product_intro {
	margin-top: 4%;
	height: 180px;
	width: 65%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-between;
}

.container_product_intro .item {
	width: 16%;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
}

.container_product_intro .item a{
	display: block;
}


.container_product_intro .item img{
	width: 90px;
	height: 90px;
	border-radius: 50%;
	transition: 0.4s;
}

.container_product_intro .item:hover img {
	width: 100px;
	height: 100px;
}

.container_product_intro .item .name_item{
	padding-top: 20px;
	font-size: 17px;
	color: black;
	letter-spacing: 4px;
}

.container_product_intro .item:hover .name_item {
	color: skyblue;
}

.product {
	width: 100%;
	height: 1000px;
}
